{% extends "blog/base.html" %}
{% block content %}
    <h1>About Us</h1>
        <article class="media content-section">
            <div class="intro">
                <h2>This is a side project (Blogging webapp), to showcase and practice Web Dev</h2>
                <br>
                <h3>Read More about this project and its architecture</h2>
                <a href="https://github.com/shashank-workb/jutsu-blog#readme" target="_blank">Github Readme</a>
                <br><br>
                <h3>Know more about me</h2>
                <a href="https://www.linkedin.com/in/mshashank-work/" target="_blank">Linkedin</a>
            </div>
        </article>
{% endblock content %}
